body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: auto;
    padding-top: 30px;
}

h2 {
    color: #0077b6;
    font-size: 24px;
    margin-bottom: 20px;
}

.doctor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.doctor-card {
    width: 250px;
    background: white;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

.doctor-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
